@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin display-flex($direction: row, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
